<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamzah Portfolio</title>
    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="./css/all.css">
    <!-- main style  -->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--Google Font-->
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body id="body">
    <header id="header">
        <div class="container">
            <a href="#" class="logo">
                <!-- <img src="images/logo.png" alt="logo"> -->
                <i class="fas fa-heading fa-2x"></i>
            </a>
            <nav>
                <i class="fas fa-bars toggle-menu"></i>
                <ul class="menu-main">
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Protfolio</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="form">
                    <!-- <i class="fas fa-search"></i> -->
                    <i class="fas fa-toggle-off" id="trun-dark"></i>
                </div>
            </nav>
        </div>
    </header>