<%- include('header'); -%>
 <!-- End Header  -->
 <div class="landing">
    <!-- <div class="overlay"></div> -->
    <div class="text">
        <div class="content">
        <h2>Hello!<br>
            I Am Al-Hamzah Al-Hagi.
        </h2>
        <p>
            Full Stack Developer ,project management staff to capture 
            requirements for the functional elements of website projects. Also responsible for 
            liaising with clients and ensuring that all work carried out complies with standards 
            and guidelines.
        </p>
    </div></div>
    <div class="image-profile">
        <img src="images/me.png" alt="Me">
    </div>
    <i class="fas fa-angle-left change-background fa-2x"></i>
    <i class="fas fa-angle-right change-background fa-2x"></i>
    <ul class="bullets" id = " ">
        <li></li>
        <li class="active"></li>
        <li></li>
    </ul>
</div>
<!-- End Landing -->
<!-- Strat Services -->
<div class="services">
    <div class="container">
        <div class="main-heading">
            <h2>Services</h2>
            <p>
                I give diffrent technology services.
            </p>
        </div>
        <div class="services-container">
            <div class="srv-box">
                <i class="fas fa-desktop fa-3x"></i>
                <div class="text ">
                    <h3>DescTop Sytems</h3>
                    <p> We make different Complete ERP System. </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fas fa-cog fa-3x"></i>
                <div class="text ">
                    <h3>Website</h3>
                    <p> Building PHP websites using PHP based frameworks. </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fas fa-pencil-ruler fa-3x"></i>
                <div class="text ">
                    <h3>Digital Servese</h3>
                    <p> We give you markateing and suport you in different digital servese. </p>
                </div>
            </div>
            <div class="srv-box">
                <i class="fas fa-mobile fa-3x"></i>
                <div class="text ">
                    <h3>Mobile App</h3>
                    <p> We make Mobile Apps which sweat your need.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- <section>

    <div class="main-heading">
        <h2>Services</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam similique quidem 
            nihil! Necessitatibus officiis magnam.
        </p>
    </div>
    <div class="services-container">
        <div class="srv-box">

        </div>
    </div>
</section> -->
<!-- Start Desing -->
<div class="design">
    <div class="image">
        <img src="images/mobile.jpg" alt="">
    </div>
    <div class="text">
        <h2>My Website Come with...</h2>
        <ul>
            <li>High Quality Performance</li>
            <li>Mazing && Responsive Website Design</li>
            <li>Clean Code</li>
            <li>Browser Friendly</li>
        </ul>
    </div>
</div>
<!-- End Desing -->
<!-- Start Protfolio -->
<div class="protfolio">
    <div class="container">
    <div class="main-heading">
        <h2>Protfolio</h2>
        <p>
            A bright, talented, ambitious and self-motivated Oracle developer with a strong 
            technical background who possesses self-discipline and the ability to work with 
            the minimum of supervision. Able to play a key role throughout the system 
            development / support life cycle of a project to ensure that quality solutions meet 
            business objectives.
            </p>
    </div>
    <aside class="skilles">
        <h2>Skilles</h2>
        <ul>
        <li>Problem solving,</li>
        <li>Goals orientated.</li>
        <li>Analytical.</li>
        <li>Attention to detail.</li>
        <li>Customer support skills.</li>
    </ul>  
    </aside>
</div>
</div>



<%- include('footer'); -%>
